<h4>Add a todo task</h4>
<div class="my-3">
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">To Do Title</label>
          <input type="text" [(ngModel)]="todoTitle" class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">To Do Description</label>
          <input type="text" [(ngModel)]="todoDesc" class="form-control" name="description" id="description">
        </div>
        
        <button type="submit" class="btn btn-sm btn-primary">Add todo</button>
    </form>
</div>
